# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Environment
.env

# Generated artifacts
*.pkl
*.csv
!**/.gitkeep

# Jupyter executed copies
*_executed.ipynb

# OS
.DS_Store
Thumbs.db

*.yaml
!docker-compose.yaml
*.md
!README.md
!dashboards/make_dashboard.md